
.bg-primary{
  background-color: #10192B !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(200,200,200,.5);
}

.overlay{
  position:absolute;
  width: 100%;
  height: 900px;
  background-color: #10192B;
  opacity: .6;
}

section#about{
/*  position:absolute;*/
  padding: 0 0 0 0 !important;
  width: 100%;
  height: 900px;
  background-image: url("../img/f.jpg"); 
  background-attachment: fixed;
/*  padding-top: 100px !important;
  padding-left: 15% !important; */
}

section img{
  padding-right: 10%; 
}

.overlay .my-auto .mb-0, .my-0 h1{
    font-weight: bold;
    margin-top: 20%;
    margin-bottom: 0!important;
}

#about .my-auto{
  width: 100%;
  height: 900px;
  margin-top: 20% !important;
}

#experience .my-auto{
  margin-top: 900px !important;
}

#about h1{
  position:relative;
  text-align: center;
  color: #fff;
  font-size: 120px;
  font-weight: lighter;

}

.text-primary{
  color: #fff !important;
  font-weight: bold;
}

#about h2{
  position:relative;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: lighter;
}

#education{
  background-color: black;
}

#experience{
  background-color: #e8e8e8;
  padding-bottom: 200px !important;
}

#experience img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#experience #bio p{
  text-align: justify;
  align:center;
  width: 50%;
  font-size: 16px;
}

@media(max-width: 600px) {
  #experience{
    padding-bottom: 100px !important;
  }
  #experience #bio p{
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

}


#experience h2{
  margin-top:100px;
  margin-bottom: 60px;
  color: #8e0000;
  font-size: 60px;
  font-weight: bold;
  text-align: center; 
}


@media(max-width: 650px){
  #experience #bio p{
  text-align: justify;
  align:center;
  width: 100%;
  font-size: 16px;
}
}

.mb-0{
  margin-top: 100px;
  margin-left: 35%;
}

.fa-stack{
  color: #8e0000;
}

.fa-stack:hover{
  color: #6b0000;
}

#education{
  background-image: url("../img/light.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  margin: 0 0 0 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

@media(max-width: 650px){
  #education{
  background-image: url("../img/light.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  margin: 0 0 0 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  }
}


/*#education .fa{
  color: #BAB4A3;
}*/

#education .mb-auto h2{
  margin-top:100px;
  margin-bottom: 40px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center; 
}

#education .mb-auto{
  color: #e2e2e2;
  text-align: justify;
}

#education .mb-auto h4{
  font-weight: bold;
  color: #e2e2e2;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

#education .mb-auto h6{

  font-weight: lighter;
  font-size: 16px;
}

#education .mb-auto .col-sm{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
/*  background-color: #1c1c1c;*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all .2s ease-in-out; 

}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

#education .mb-auto .col-sm:hover{
  background-color: #000;
  transform: scale(1.1);
}

#education .fa{
  font-size: 80px;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.btn{
  background-color: #000;
  border-color: #000;
}

#contact {
  background-color: #e8e8e8;
  padding-bottom: 80px !important;
}

#contact .mb-auto{
  margin-bottom: 30px;
}

#contact .mb-auto h2{
  margin-top:20px;
  margin-bottom: 40px;
  color: #040028;
  font-size: 60px;
  font-weight: bold;
  text-align: center; 
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #639ff9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #050047;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

footer{
  text-align: center;
  background-color: #030303;
  color: #939393;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 10px;
  height: 3%;
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

